.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    // padding: ;
    background-color: $color-dark;

    @media (max-width: $tablet-max) {
        padding: 0;
    }

    @media (max-width: $mobile-max) {
        padding: 16px 0;
    }
}



.header-inner {
    @include inner;

}

.header-wrap {
    display: flex;
    align-items: center;

    @media (max-width: $mobile-max) {
        justify-content: space-between;
    }

}

.logo {

    @include logo;

    @media (max-width:$tablet-max) {
        margin: 20px 122px 21px 10px;
        font-size: 36px;
        line-height: 49px;
    }

    @media (max-width: $mobile-max) {
        margin: 16px 138px 16px 16px;
        font-size: 28px;
        line-height: 38px;
    }

}

.burger {
    display: none;
    margin: 20px 16px 20px;
    color: #fff;

    @media (max-width: $mobile-max) {
        display: block;
       
    }
}