.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    // padding: ;
    background-color: $color-dark;

   
}



.header-inner {
    @include inner;
}

.header-wrap {
    display: flex;
    align-items: center;
    
}

.logo {

    @include logo;
    
    @media (max-width:$tablet-max) {
       margin: 20px 604px 21px 10px;
        font-size: 36px;
        line-height: 49px;   
    }

}



