ul {
    display: flex;
    list-style: none;
}

li {
    max-width: 0 15px;
    padding: 33px 25px;
}

a {
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}