.promo {
  display: block;
  background-image: url(pictures/Rectangle1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;


}

.promo-inner {
  @include inner;
 
}

.promo-title {
  margin: 200px 0 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  // color: #FFFFFF;

}