.promo {
  display: block;
  // background-image: url(pictures/2var.jpg);
  // background-repeat: no-repeat;
  // background-size:cover;
  // background-position: center;
  background-image: url(../blocks/pictures/2var.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(75, 10, 100, .03);

}

.promo-inner {
  @include inner;

}

.promo-title {
  margin: 200px 0 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;

}